<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
      <% @recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span6">
      <div class="field">
        <input id="recipe_picture" name="recipe[picture]" type="file" />
        <% if @recipe and @recipe.picture %>
          <%= image_tag @recipe.picture.url, :size => "150x150", class: "btn fileButton" %>
        <% end %>
      </div>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <%= fields_for :book do |book| %>
        <div class="field">
          <%= book.label :name, "Book Title" %> 
          <%= book.text_field :name, :id => "book_autocomplete" %>
          <%= book.hidden_field :id, :id => "book_autocomplete_id" %>
        </div>
      <% end %>
      <div class="field ingredient_recipes">
        <%= f.label :ingredients %> 
        <%= f.fields_for :ingredients_recipes do |ing_rec| %> 
          <%= render "ingredients_recipe_fields", :f => ing_rec %>
        <% end %>
        <p><%= add_ingredient_button "Add Ingredient", f, :ingredients_recipes %></p>
      </div>
      <div class="field">
        <%= f.label :categories_tokens, "Categories" %>
        <%= f.text_field :categories_tokens, "data-pre" => @recipe.categories.map(&:attributes).to_json %>
      </div>
    </div>
    <div class="span6 pull-right">
      <div class="field">
        <%= f.label :instructions %><br />
        <%= f.text_area :instructions %>
      </div>
      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description %>
      </div>
    </div>
  </div>
  <div class="btn-group">
    <%= f.submit "Submit", :class => "btn" %>
<% end %>


