<p class="ingredients">
  <%= f.fields_for :ingredient, include_id: false do |ingredient_fields| %>
    <%= ingredient_fields.text_field :name, class: "nopost ingredient_autocomplete" %>  
    <%= f.hidden_field :ingredient_id, class: "id_field" %> 
  <% end %> 
  <%= f.number_field :amount, :placeholder => 'enter amount' %>
  <%= f.fields_for :unit, include_id: false do |unit_fields| %>
    <%= unit_fields.text_field :name, class: "nopost unit_autocomplete" %>  
    <%= f.hidden_field :unit_id, class: "id_field" %> 
  <% end %>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove", :class => "btn btn-danger removeIngredient" %>
</p>