<h1>
  Recipes
  <%= link_to 'New Recipe', new_recipe_path, :class => "btn" %>
</h1>

<% @recipes.each_slice(3) do |recipe_row| %>
  <div class="row">
    <% recipe_row.each do |recipe| %>
      <div class="span4">
        <h3><%= recipe.name %></h3>
        <p class="description"><%= recipe.description %></p>
        <div class="btn-group" >
          <%= link_to 'Show', recipe, :class => "btn btn-mini" %>
          <%= link_to 'Edit', edit_recipe_path(recipe), :class => "btn btn-mini" %>
          <%= destroy_button recipe %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
