<h1>
  Recipes
  <%= link_to 'New Recipe', new_recipe_path, :class => "btn" %>
</h1>

<% @recipes.each do |recipe| %>
    <h3><%= recipe.name %></h3>
    <p class="description"><%= recipe.description %></p>
    <div class="btn-group" >
      <%= link_to 'Show', recipe, :class => "btn" %>
      <%= link_to 'Edit', edit_recipe_path(recipe), :class => "btn" %>
      <%= destroy_button recipe %>
    </div>
<% end %>
