<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @recipe.picture.url %>
</p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>
<% if @recipe.book %>
  <p>
    <strong>Book:</strong>
    <%= @recipe.book.name %>
  </p>
<% end %>

<p>
  <strong>Ingredients:</strong>
  <%= render @recipe.ingredients_recipes %>
</p>

<p>
  <strong>Categories:</strong>
  <%= render @recipe.categories %>
</p>


<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
