<p id="notice"><%= notice %></p>

<div>
  <% if @recipe.picture %>
      <%= image_tag @recipe.picture.url, :size => "150x150" %>
  <% end %>
  <span class="section">
    <div>
      <h1 class="inline"><%= @recipe.name %></h1>
    </div>
    <div class="categories">
      <%= render @recipe.categories %>
    </div>
  </span>
</div>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<% if @recipe.book %>
  <p>
    <strong>Book:</strong>
    <%= @recipe.book.name %>
  </p>
<% end %>

<% if @recipe.ingredients_recipes %>
  <p>
    <strong>Ingredients:</strong>
    <%= render @recipe.ingredients_recipes %>
  </p>
<% end %>

<div class="btn-group">
  <%= link_to 'Edit', edit_recipe_path(@recipe), :class => "btn" %>
  <%= link_to 'Back', recipes_path, :class => "btn" %>
</div>
