<p id="notice"><%= notice %></p>

<div>
  <%= image_tag @user.avatar.url, size: "100x100" %>
  <h3 class="username"><%= @user.name %></h3>
</div>

<div class="btn-group" >
  <%= user_edit_button @user %>
  <%= link_to 'Back', users_path, :class => "btn-mini" %>
</div>
