<p id="notice"><%= notice %></p>

<h1>
  <%= @ingredient.name %>
</h1>

<p class="ingredientdesc">
  <%= @ingredient.description %>
</p>

<div class="btn-group"
  <%= link_to 'Edit', edit_ingredient_path(@ingredient), :class => "btn" %>
  <%= link_to 'Back', ingredients_path, :class => "btn" %>
</div>
