<p id="notice"><%= notice %></p>

<p class="bookname">
  <%= @book.name %>
</p>

<p class="author">
  by <%= @book.author %>
</p>

<p>
  <b>Isbn:</b>
  <%= @book.isbn %>
</p>

<p>
  <%= @book.description %>
</p>

<div class="btn-group" >
  <%= link_to 'Edit', edit_book_path(@book), :class => "btn" %>
  <%= link_to 'Back', books_path, :class => "btn" %>
</div>
