<h1>
  Units
  <%= link_to 'New Unit', new_unit_path, :class => "btn" %>
</h1>

<% @units.group_by{|unit| unit.unit_type}.each do |unit_type, units| %>
  <h3><%= unit_type %></h3>
  <div class="type" >
    <% units.each_slice(4) do |unit_row| %>
      <div class="row">
        <% unit_row.each do |unit| %>
          <div class="span3">
            <h4><%= unit.name %> (<%= unit.short_name %>)</h4><br />
            <div class="btn-group">
              <%= link_to 'Show', unit, :class => "btn btn-mini" %>
              <%= link_to 'Edit', edit_unit_path(unit), :class => "btn btn-mini" %>
              <%= destroy_button unit %>
            </div>
          </div>
          <% end %>
      </div>
    <% end %>
  </div>
<% end %>
</table>

<br />
