<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @unit.name %>
</p>

<p>
  <b>Short Name:</b>
  <%= @unit.short_name %>
</p>

<p>
  <b>Type:</b>
  <%= @unit.unit_type %>
</p>

<p>
  <b>Conversion:</b>
  <%= @unit.conversion %>
</p>

<div class="btn-group" >
  <%= link_to 'Edit', edit_unit_path(@unit), :class => "btn" %>
  <%= link_to 'Back', units_path, :class => "btn" %>
</div>
