<!DOCTYPE html>
<html>
<head>
    <title>Cookbook!</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="favicon.ico">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-37953590-1']);
      _gaq.push(['_setDomainName', 'tomasmorris.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
</head>
<body>
<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <%= nav_link "Home", root_path %>
        <%= nav_link "Ingredients", ingredients_path %>
        <%= nav_link "Books", books_path %>
        <%= nav_link "Recipes", recipes_path %>
        <%= nav_link "Units", units_path %>
        <%= nav_link "Categories", categories_path %>
        <%= nav_link "Users", users_path %>
        <%= nav_link_if_else "Login", login_url, "Logout", logout_url, session[:user_id] == nil %>
      </ul>
      <%= field_if "Administrator", session[:admin], :class => "pull-right" %>
    </div>
  </div>

<%= yield %>

</div>
</body>
</html>
